<div class="container">
    <div class="columns">
        <div class="column">
            RUT:
            <input class="input" type="text" placeholder="Text input">
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Tipo de servicio:
            <div class="select">
                <select (change)="getEspecialidades($event);servicio_seleccionado($event)" id="servicio" [value]="" >
                    <option>Seleccione</option>
                    <option *ngFor="let item of servicios" value="{{item['id']}}" [attr.selected]="item['name']===servicio_selc ? true : null">{{item['name']}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Especialidad:
            <div class="select">
                <select>
                    <option>Seleccione</option>
                    <option *ngFor="let item of especialidades">{{item['name']}}</option>
                </select>
            </div>
        </div>
    </div>
      <button class="button">Continuar</button>
</div>
