<div class="container">

    <h1 class="title">{{titulo}}</h1>
    <div class="tile is-ancestor">
        <div class="tile is-vertical " style="background-color: red; height: 300px;">
          <div class="tile">
            <div class="columns">
                <div class="column">
                    Nuestros Servicios
                    <button class="button" routerLink="agendar">Agendar servicio</button>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>